{{outlet}}
<h1>Welcome to the admin page for the announcemnts</h1>
<div>
  <!-- <form>
    <div class="form-group">
      <label for="owner">Enter Site Announcement:</label>
      {{input value=announcement id="announcement"}}
    </div>
    <button {{action 'save1'}}>Save</button>
  </form> -->
  <!-- {{#each model as |announcement|}}
  <li>{{announcement.announcement}}</li>
    {{/each}} -->
</div>
