<header class = "jumbotron">
  <h1>Super Rentals</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}<h4>Home</h4>{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'announcement'}}Announcement{{/link-to}}
  {{#link-to 'contact'}}Click here to contact us.{{/link-to}}


</footer>
