<header class = "jumbotron">
  <h1>Super Rentals</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}} Home {{/link-to}}
  {{#link-to 'contact'}}Contact us!{{/link-to}}
  {{#link-to 'about'}}Learn more about us!{{/link-to}}
</footer>
